body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	padding: 0px;
}

#container {
    width: 100%;
    height: 100%;
	margin: 0px auto;
	text-align: center;
	background-color: darkslateblue;
}

#name {
	color: white;
	font-size: 275%;
	position: relative;
	top: 42.5%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
   	overflow: scroll;
}

#info {
	color: white;
	font-size: 130%;
	position: relative;
	top: 44.125%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
   	overflow: scroll;
}

@media only screen and (max-width: 500px) {
    #name {
        font-size: 150%;
    }
    #info {
        font-size: 75%;
    }
}